body {
    background-image:url(../images/silhou.jpg);
    margin: 0;
    padding: 0;
    overflow: auto;
    }
    
    .logo {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        margin-right: auto;
    }
    
    .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 123, 255);
    padding: 15px;
    box-sizing: border-box;
    }
 
    
    .navbar a {
        color: #ffffff;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        
    }

   
    
    .firstcontainer  {
        margin: 150px auto;
        width: 70%;
        margin: 150px auto;
        max-width: 800px;
        padding: 0 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2;
    }

    .firstcontainer img{
        float: left;
    margin-right: 15px;
    width: 350px;
    }


    .firstcontainer p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2;
    }

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 70px;
        white-space: nowrap;
        margin-bottom: 15px;
    }

    footer {
        background: #333;
        padding: 5px;
        text-align: center;
        color: rgb(0, 123, 255);
    }